# Arquivos e diretórios ignorados

# Material de apoio
Material/

# Dependências do Composer
vendor/

# Diretório de geração automática
generator/

# Variáveis de ambiente
.env

#
App/views/layouts/
cache/
store/
*.txt
test_502.php
public/pdfs/*.pdf